/**/debug
/**/release
/**/Makefile*
/**/*.user
/**/*.a
/**/*.o
/**/.idea
/**/old_projects
/**/assets
/**/laravel/nbproject
/**/.DS_STORE
/**/.war
/**/*.class

/.metadata/
/.recommenders/
/**/.metadata
/**/.recommenders
/**/RemoteSystemsTempFiles
/**/Servers/
/**/__pycache__/
/**/venv/
/**/*.iml